<%= form_for(@customer) do |f| %>
  <p>
    <strong>First Name</strong><br>
    <%= f.text_field :first_name %>
  </p>
  <p>
    <strong>Last Name</strong><br>
    <%= f.text_field :last_name %>
  </p>
  <p>
    <strong>Email</strong><br>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
